<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427464899946-bhtb0saaelrd3f1bdf7pbqhmhttdn2ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427464899946-bhtb0saaelrd3f1bdf7pbqhmhttdn2ar</string>
	<key>API_KEY</key>
	<string>AIzaSyDydlvh6hVc7QSnkSMsuai7jKY48KELQR4</string>
	<key>GCM_SENDER_ID</key>
	<string>427464899946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a7hills.plink</string>
	<key>PROJECT_ID</key>
	<string>plinklogin-c0a75</string>
	<key>STORAGE_BUCKET</key>
	<string>plinklogin-c0a75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427464899946:ios:a627adf8fdd8d217eb7913</string>
</dict>
</plist>